{% comment %}
    Displays a list of partner logos from a document's front matter
{% endcomment %}

{% if page.partners %}
<section class="partners">
    <div class="container">
        <h2>Member of</h2>
        <div>
            <ul class="slides" style="text-align:center;">
                {% for logo in page.partners %}
                    <li style="display:inline-block;margin-right:30px">
                        <img style="max-height:150px;" src="{{ logo | absolute_url }}" alt="{{ logo }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
